
<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Senators</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->



              <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                        <h3>Indiana House</h3>
                        <p>
                          The Indiana House of Representatives is the lower house of the Indiana General Assembly, the state legislature of the United States state of Indiana. The House is composed of 100 members representing an equal number of constituent districts. House members serve two-year terms without term limits
                          </p>
                          <div class="panel-body">
                            <p *ngIf="senateLegislators1.length<40"><img src="loading.gif">Loading</p>
                            <h3 *ngIf="senateLegislators1.length>=40">Republicans ({{senateLegislators1.length}})</h3>

                              <div class="row show-grid" *ngIf="senateLegislators1.length>=40">
                                  <div class="col-md-2" *ngFor="#legislator of senateLegislators1">
                                            <a [routerLink]="['/LegislatorDetails', {id: legislator._id}]">
                                  <center>
                                  <legimg [link]="legislator.pngDownloadLink"></legimg> <br>
                                  <!--{{legislator.firstName}}--> Rep {{legislator.lastName}} (R) <br>
                                  <!-- {{legislator.party}} --> <br>
                                  <button class="btn btn-primary">Follow Rep</button>
                                </center>
                              </a>
                                  </div>

                              </div>
                              <h3 *ngIf="senateDemocrats.length>=9">Democrats {{senateDemocrats.length}}</h3>

                              <div class="row show-grid"  *ngIf="senateDemocrats.length>=9">
                                  <div class="col-md-2" *ngFor="#dems of senateDemocrats">

                                    <a [routerLink]="['/LegislatorDetails', {id: dems._id}]">

                                  <center>
                                  <legimg [link]="dems.pngDownloadLink"></legimg> <br>
                                  <!--{{dems.firstName}}-->Rep {{dems.lastName}} (D) <br>
                                <!--  {{dems.party}} -->
                                  <br>
                                  <button class="btn btn-primary">Follow Rep</button>
                                </center>
                              </a>
                                  </div>

                              </div>
                            </div>
                      </div>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>



  <!-- /.row -->


</div>
<!-- /#page-wrapper -->
