
<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Senators</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->



              <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                        <h3>Indiana Senate</h3>
                        <p>
                            The Indiana Senate is the upper house of the Indiana General Assembly, the state legislature of the U.S. state of Indiana. The Senate is composed of 50 members representing an equal number of constituent districts. Senators serve four-year terms without term limits.</p>
                          <div class="panel-body">
                            <p *ngIf="senateLegislators1.length<40"><img src="loading.gif">Loading</p>
                            <h3 *ngIf="senateLegislators1.length>=40">Republicans {{senateLegislators1.length}}</h3>

                              <div class="row show-grid" *ngIf="senateLegislators1.length>=40">
                                  <div class="col-md-2" *ngFor="#legislator of senateLegislators1">

                                  <a [routerLink]="['/LegislatorDetails', {id: legislator._id}]">
                                    <center>
                                      <legimg [link]="legislator.pngDownloadLink" [legislator]="legislator"></legimg> <br>
                                      <!--{{legislator.firstName}}-->Sen {{legislator.lastName}} (R) <br>
                                      <!-- {{legislator.party}} --> <br>
                                      <button class="btn btn-primary">Follow Senator</button>
                                    </center>
                                  </a>

                                  </div>

                              </div>
                              <h3 *ngIf="senateDemocrats.length>=9">Democrats {{senateDemocrats.length}}</h3>

                              <div class="row show-grid"  *ngIf="senateDemocrats.length>=9">
                                  <div class="col-md-2" *ngFor="#dems of senateDemocrats">

                                    <a [routerLink]="['/LegislatorDetails', {id: dems._id}]">
                                      <center>
                                        <legimg [link]="dems.pngDownloadLink" [legislator]="dems"></legimg> <br>
                                        <!--{{dems.firstName}}--> Sen {{dems.lastName}} (D) <br>
                                      <!--  {{dems.party}} -->
                                        <br>
                                        <button class="btn btn-primary">Follow Senator</button>
                                      </center>
                                    </a>

                                  </div>

                              </div>
                            </div>
                      </div>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>



  <!-- /.row -->


</div>
<!-- /#page-wrapper -->
